.button {
  font: inherit;
  border: 1px solid #741188;
  background: #741188;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #454652;
  border-color: #454652;
}

.button:focus {
  outline: none;
}
